.home {
   height: 100vh;
   background-image: url("https://blackhill360.ir/images/df9c681b-5c10-4cdd-a06a-38d91f88238d.jfif");
   background-size: cover;
   background-repeat: no-repeat;
}

.main-title {
   font-family: LogoFont;
   color: #fff;
   font-size: 8rem;
   -webkit-text-stroke: 2px rgba(37, 179, 250, 0.384);
   margin-left: 3.5rem;
}

.main-list {
   display: grid;
   row-gap: 1.4rem;
   margin-top: 1.8rem;
   margin-left: 7rem;
}